body {
    font-family: Calibri, Helvetica, sans-serif;
    background-color: lightblue;
}

.container {
    padding: 50px;
}

label {
    font-weight: bolder;
}

input, textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #ffffff;
    border-radius: 5px;
}

textarea {
    resize: none;
}

input:focus, textarea:focus {
    /* background-color: rgb(199, 255, 241); */
    outline: 2px solid rgb(148, 148, 148);
}

input:valid, textarea:valid {
    outline: 2px solid #bff3bf;
}

input:invalid, textarea:invalid {
    outline: 2px solid rgb(243, 96, 96);
}

div {
    padding: 10px 0;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

.text-center {
    text-align: center;
}